.Portfolio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.portfolio-container {
    display: flex;
    min-height: 90vh;
    background-color: #34495e;
}

.portfolio-header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial Rounded MT', Arial;
    border-bottom: solid;
}
    .portfolio-header h1 {
        margin: 0;
    }

.logout-button {
    padding: 8px 12px;
    background-color: #f44336; /* Red color for logout to indicate action */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

    .logout-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }
.home-button {
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

    .home-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }
.submit-button {
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

    .home-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }
.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50; /* Or any color you prefer */
    color: white;
    text-align: center;
    padding: 2px 0;
    font-size: 0.5em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial;
}

.account-button {
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

.portfolio-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
    background-color: #546e7a;
    color: white;
    padding: 10px;
    max-width: 10%;
    max-height: 90vh;
    min-height: 90vh;
    border-right: solid;
}


.portfolio-sidebar-container {
    overflow-y: auto;
    flex-grow: 1;
}

.portfolio-sidebar-list {
    display: flex;
    flex-direction: column;
}

.portfolio-sidebar-button {
    background-color: #546e7a;
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Arial Rounded MT', Arial
}

    .stock-item:hover {
        background-color: #546e7a;
    }

.portfolio-sidebar {
    flex: 0 0 20%; /* flex-basis set to 20%, does not grow or shrink */
    background-color: #546e7a;
    color: white;
    min-height: 90vh;
}

.portfolio-content {
    flex: 0 0 auto; /* Don't grow or shrink */
    width: 86.5%; /* Full width minus margin */
    background-color: white;
    border-radius: 15px; /* Rounded corners */
    border: solid;
    border-width: 2px;
    border-color: #2c3e50;
    margin: 1%; /* Space around the container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically, if needed */
}

.portfolio-content-header {
    flex: 1;
    border-radius: 15px; /* Rounded corners */
    border: solid;
    border-width: 2px;
    border-color: #2c3e50;
    margin: 0.5%;
}
.portfolio-account-name {
    padding: 10px;
    font-size: 0.2em;
    font-family: 'Arial Rounded MT', Arial;
    color: black;
}
.portfolio-details {
    flex: 9;
    display: flex;
    flex-direction: row;
}
.portfolio-alpaca-accinfo {
    flex: 2; /* Don't grow or shrink */
    width: 40%; /* Full width minus margin */
    background-color: white;
    border-radius: 15px; /* Rounded corners */
    border: solid;
    border-width: 2px;
    border-color: #2c3e50;
    margin: 0.5%; /* Space around the container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically, if needed */
}
.portfolio-alpaca-keyinfo {
    flex: 1; /* Don't grow or shrink */
    width: 40%; /* Full width minus margin */
    background-color: lightyellow;
    border-radius: 15px; /* Rounded corners */
    border: solid;
    border-width: 2px;
    border-color: #2c3e50;
    margin: 0.5%; /* Space around the container */
    padding: 20px, 20px, 20px, 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically, if needed */
}
.portfolio-key-form{
    padding: 20px 20px 0px 20px;
}

.portfolio-key-form-label {
    font-size: 1.5em;
    font-family: 'Arial Rounded MT', Arial;
    color: black;
}
.portfolio-key-form-input {
    padding: 20px;
    font-size: 0.6em;
    font-family: 'Arial Rounded MT', Arial;
}