.account {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #34495e;
}

.account-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.account-header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial Rounded MT', Arial;
}

    .account-header h1 {
        margin: 0;
    }

.account-content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    height: 100%;
    /* Add any additional styling for your main content area here */
}

.user-info-container {
    background-color: white; /* Light grey background or any color you prefer */

    border-radius: 15px; /* Adjust as necessary for the desired curvature */
    padding: 20px 20px 20px 20px; /* Space inside the container */
    margin-top: 20px; /* Space between the search button and the container */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns stock info to the left */
    width: 900px;
    height: 600px;
}
.userinfo-details {
    display: flex;
    flex-direction: column; /* Stack label-input pairs vertically */
    width: 100%; /* Use 100% of the parent's width */
    margin: 0 auto; /* Center the block within the parent */
    color: black;
    font-family: 'Arial Rounded MT', Arial;
}
    .userinfo-details label {
        color: black;
        font-family: 'Arial Rounded MT', Arial;
        margin-top: 0.5em;
    }
    .userinfo-details input[readOnly] {
        background-color: #e9ecef; /* Light grey background to indicate not editable */
        color: #6c757d; /* Dim text color to indicate not editable */
        cursor: not-allowed; /* Shows a not-allowed cursor on hover */
        font-family: 'Arial Rounded MT', Arial;
        padding: 30px 0px, 0px 30px;
        margin-bottom: 1em;
    }

    /* Styles for the input when it is editable */
    .userinfo-details input:not([readOnly]) {
        background-color: white; /* White background for editable state */
        color: black; /* Normal text color for editable */
        cursor: text; /* Text cursor for typing */
        font-family: 'Arial Rounded MT', Arial;
        padding: 30px 0px, 0px 30px;
        margin-bottom: 1em;
    }

.logout-button {
    padding: 8px 12px;
    background-color: #f44336; /* Red color for logout to indicate action */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

    .logout-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }

.home-button {
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;

}

    .home-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }

.portfolio-button {
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

.account-actions {
    align-self: center; /* Center the button within its parent */
    margin-top: auto;
}
.edit-account-button {
    flex: 1; /* Each button takes equal space */
    margin: 5px;
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}

    .edit-account-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }

.delete-account-button {
    flex: 1; /* Each button takes equal space */
    margin: 5px;
    padding: 8px 12px;
    background-color: #f44336; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Rounded MT', Arial;
}
    .delete-account-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }


.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50; /* Or any color you prefer */
    color: white;
    text-align: center;
    padding: 2px 0;
    font-size: 0.5em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial;
}
