.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    min-height: 90vh;
    background-color: #34495e;
}

.app-header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial Rounded MT', Arial
}

    .app-header h1 {
        margin: 0;
    }

.window-controls {
    display: flex;
    gap: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px
}

.main-content {
    display: flex; /* Flex container to manage children */
    flex-direction: column; /* Stack children vertically */
    align-items: stretch; /* Stretch children width-wise */
    width: 100%; /* Take full width of the container */
    margin-top: 0; /* Ensure no margin at the top */
    padding-top: 20px; /* Or adjust as needed for your design */
    background-color: #34495e;
    padding-right: 20px;
    padding-left: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    background-color: #34495e;
    color: white;
    padding: 10px;
    max-width: 25%;
    max-height: 90vh;
}

.sidebar-symbol {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial
}

.sidebar-title {
    font-size: 0.6em;
    padding: 0px, 5px;
    font-family: 'Arial Rounded MT', Arial
}

.sidebar-details {
    font-size: 0.8em;
    padding: 0px, 5px;
    font-family: 'Arial Rounded MT', Arial
}

.stock-list-container {
    overflow-y: auto;
    flex-grow: 1;
}

.stock-list {
    display: flex;
    flex-direction: column;
}

.stock-item {
    background-color: #455a64;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .stock-item:hover {
        background-color: #546e7a;
    }

.filter-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adds space between elements */
    padding: 10px;
}

.logout-button {
    padding: 8px 12px;
    background-color: #f44336; /* Red color for logout to indicate action */
    color: white;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .logout-button:hover {
        background-color: #d32f2f; /* Darker shade of red on hover */
    }

.account-button {
    padding: 8px 12px;
    background-color: #34495e; /* Red color for logout to indicate action */
    color: white;
    border: SOLID;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker shade of red on hover */
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50; /* Or any color you prefer */
    color: white;
    text-align: center;
    padding: 2px 0;
    font-size: 0.5em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial;
}



.stock-details {
    background-color: white; /* Light grey background */
    color: black;
    border-radius: 15px; /* Rounded corners for the box */
    display: flex;
    flex-direction: column;
}

.stock-info-container {
    background-color: white; /* Light grey background or any color you prefer */

    border-radius: 15px; /* Adjust as necessary for the desired curvature */
    padding: 20px 0px 0px 20px; /* Space inside the container */
    margin-top: 0px; /* Space between the search button and the container */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns stock info to the left */
}

.stock-details div {
    margin-bottom: 10px; /* Spacing between each stock info line */
}

.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; /* Space between search-section and stock-details */
}

    /* Styles for the input and search button within the search section */
    .search-section input[type="text"],
    .search-section button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Ensure the button doesn't grow wider than its content */
    .search-section button {
        white-space: nowrap;
        flex-shrink: 0; /* Prevents the button from shrinking */
    }

.info-symbol {
    font-size: 6em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial
}

.info-price {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial
}

.info-change {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Arial Rounded MT', Arial
}

.info-refresh {
    font-size: 0.6em;
    font-family: 'Arial Rounded MT', Arial
}

.info-details {
    font-size: 1.2em;
    font-family: 'Arial Rounded MT', Arial
}

.info-default {
    font-size: 29em;
    font-family: 'Arial Rounded MT', Arial;
    align-content: center;
    color: white;
}
